//sandbox: https://codepen.io/ericamcconnaughey/pen/LYVXKdx

// OVERALL
$color-primary: #1D9EA0;
$color-dark: #24292E;
$color-light: #F8F8F8;
$color-mid: #3E3E3E;

$color-transparent-black: rgba(0, 0, 0, 0.5);

$body-font: "Roboto", sans-serif;

body {
  font-family: $body-font;
  //NEW
  width: 100%;
  height: 100%;
  position: fixed;
  // background-color: $color-light;
}

// MEDIA QUERIES
@media screen and (min-width: 768px) {
  .menu {
    padding-left: 350px;
  }
  .thumbnail {
    width: 70px;
  }
  .content {
    &__list {
    padding-left: 100px;
    }
  }
  .callout {
    padding-top: 200px;
  }
}

@media screen and (max-width: 768px) and (min-width: 620px) {
  .menu {
    padding-left: 150px;
  }
  .thumbnail {
    width: 60px;
  }
  .content {
    &__list {
    padding-left: 50px;
    }
  }
  .callout {
    padding-top: 100px;
  }
}

@media screen and (max-width: 620px) {
  .menu {
    padding-left: 0px;
  }
  .thumbnail {
    width: 50px;
  }
  .content {
    &__list {
    padding-left: 40px;
    }
  }
  .callout {
    padding-top: 50px;
  }
}

// HEADER
.title-bar {
  background-color: $color-light;
  h3 {
    color: $color-dark;
  }
  .menu {
    a {
      color: $color-dark;
      font-weight: bold;
    }
    li {
      padding-right: 20px;
    }
  }
  .thumbnail {
    border: 2px solid $color-light;
    box-shadow: none;
    margin-left: 20px;
  }
}

// MAIN
main {
  background-color: $color-light;
  .callout {
    border: none;
    color: $color-dark;
    background-color: $color-light;
    text-align: center;
    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      overflow: hidden;
      // font-family: 'Lato', sans-serif;
      font-size: 35px;
      line-height: 40px;
      color: $color-dark;

      &__container {
        font-weight: 600;
        overflow: hidden;
        height: 55px;
        padding: 0 40px;
    
        &__text {
          display: inline;
          float: left;
          margin: 0;
          height: 160px;
        }
    
        &__list {
          margin-top: 0;
          // padding-left: 280px;
          text-align: left;
          list-style: none;
          
          -webkit-animation-name: change;
          -webkit-animation-duration: 10s;
          -webkit-animation-iteration-count: infinite;
          animation-name: change;
          animation-duration: 10s;
          animation-iteration-count: infinite;
    
          &__item {
            line-height: 40px;
            margin-top: 17px;
          }
        }
      }
    }
  }
}

// ANIMATIONS
@-webkit-keyframes change {
  0% {transform:translate3d(0,-3%,0);}
  20% {transform:translate3d(0,-3%,0);}
  40% {transform:translate3d(0,-25%,0);}
  60% {transform:translate3d(0,-45%,0);}
  80% {transform:translate3d(0,-67%,0);}
  100% {transform:translate3d(0,-87%,0);}
}

@-o-keyframes change {
  0% {transform:translate3d(0,-3%,0);}
  20% {transform:translate3d(0,-3%,0);}
  40% {transform:translate3d(0,-25%,0);}
  60% {transform:translate3d(0,-45%,0);}
  80% {transform:translate3d(0,-67%,0);}
  100% {transform:translate3d(0,-87%,0);}
}

@-moz-keyframes change {
  0% {transform:translate3d(0,-3%,0);}
  20% {transform:translate3d(0,-3%,0);}
  40% {transform:translate3d(0,-25%,0);}
  60% {transform:translate3d(0,-45%,0);}
  80% {transform:translate3d(0,-67%,0);}
  100% {transform:translate3d(0,-87%,0);}
}

@keyframes change {
  0% {transform:translate3d(0,-3%,0);}
  20% {transform:translate3d(0,-3%,0);}
  40% {transform:translate3d(0,-25%,0);}
  60% {transform:translate3d(0,-45%,0);}
  80% {transform:translate3d(0,-67%,0);}
  100% {transform:translate3d(0,-87%,0);}
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeinout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.callout {
  animation-name: fadein;
  animation-duration: 3s;
}

// @keyframes animated-list {
//   100% {bottom: 100px}
// }

// .word1 { 
//   width: 800px;
//   position: relative;
//   animation-name: fadeinout;
//   animation-duration: 2s;
//   animation-delay: 2s;
//   animation-fill-mode: both;
//   animation-timing-function: ease-in-out;
// }

// .word2 {
//   width: 800px;
//   position: relative;
//   animation-name: fadeinout;
//   animation-duration: 2s;
//   animation-delay: 4s;
//   animation-fill-mode: both;
//   animation-timing-function: ease-in-out;
// }

// .word3 {
//   width: 800px;
//   position: relative;
//   animation-name: fadeinout;
//   animation-duration: 2s;
//   animation-delay: 6s;
//   animation-fill-mode: both;
//   animation-timing-function: ease-in-out;
// }

// .word4 {
//   width: 800px;
//   position: relative;
//   animation-name: fadein;
//   animation-duration: 2s;
//   animation-delay: 8s;
//   animation-fill-mode: both;
//   animation-timing-function: ease-in-out;
//   color: $color-primary;
// }




