body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  position: fixed; }

@media screen and (min-width: 768px) {
  .menu {
    padding-left: 350px; }
  .thumbnail {
    width: 70px; }
  .content__list {
    padding-left: 100px; }
  .callout {
    padding-top: 200px; } }

@media screen and (max-width: 768px) and (min-width: 620px) {
  .menu {
    padding-left: 150px; }
  .thumbnail {
    width: 60px; }
  .content__list {
    padding-left: 50px; }
  .callout {
    padding-top: 100px; } }

@media screen and (max-width: 620px) {
  .menu {
    padding-left: 0px; }
  .thumbnail {
    width: 50px; }
  .content__list {
    padding-left: 40px; }
  .callout {
    padding-top: 50px; } }

.title-bar {
  background-color: #F8F8F8; }
  .title-bar h3 {
    color: #24292E; }
  .title-bar .menu a {
    color: #24292E;
    font-weight: bold; }
  .title-bar .menu li {
    padding-right: 20px; }
  .title-bar .thumbnail {
    border: 2px solid #F8F8F8;
    box-shadow: none;
    margin-left: 20px; }

main {
  background-color: #F8F8F8; }
  main .callout {
    border: none;
    color: #24292E;
    background-color: #F8F8F8;
    text-align: center; }
    main .callout .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow: hidden;
      font-size: 35px;
      line-height: 40px;
      color: #24292E; }
      main .callout .content__container {
        font-weight: 600;
        overflow: hidden;
        height: 55px;
        padding: 0 40px; }
        main .callout .content__container__text {
          display: inline;
          float: left;
          margin: 0;
          height: 160px; }
        main .callout .content__container__list {
          margin-top: 0;
          text-align: left;
          list-style: none;
          -webkit-animation-name: change;
          -webkit-animation-duration: 10s;
          -webkit-animation-iteration-count: infinite;
          animation-name: change;
          animation-duration: 10s;
          animation-iteration-count: infinite; }
          main .callout .content__container__list__item {
            line-height: 40px;
            margin-top: 17px; }

@-webkit-keyframes change {
  0% {
    transform: translate3d(0, -3%, 0); }
  20% {
    transform: translate3d(0, -3%, 0); }
  40% {
    transform: translate3d(0, -25%, 0); }
  60% {
    transform: translate3d(0, -45%, 0); }
  80% {
    transform: translate3d(0, -67%, 0); }
  100% {
    transform: translate3d(0, -87%, 0); } }

@-o-keyframes change {
  0% {
    transform: translate3d(0, -3%, 0); }
  20% {
    transform: translate3d(0, -3%, 0); }
  40% {
    transform: translate3d(0, -25%, 0); }
  60% {
    transform: translate3d(0, -45%, 0); }
  80% {
    transform: translate3d(0, -67%, 0); }
  100% {
    transform: translate3d(0, -87%, 0); } }

@-moz-keyframes change {
  0% {
    transform: translate3d(0, -3%, 0); }
  20% {
    transform: translate3d(0, -3%, 0); }
  40% {
    transform: translate3d(0, -25%, 0); }
  60% {
    transform: translate3d(0, -45%, 0); }
  80% {
    transform: translate3d(0, -67%, 0); }
  100% {
    transform: translate3d(0, -87%, 0); } }

@keyframes change {
  0% {
    transform: translate3d(0, -3%, 0); }
  20% {
    transform: translate3d(0, -3%, 0); }
  40% {
    transform: translate3d(0, -25%, 0); }
  60% {
    transform: translate3d(0, -45%, 0); }
  80% {
    transform: translate3d(0, -67%, 0); }
  100% {
    transform: translate3d(0, -87%, 0); } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeinout {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.callout {
  animation-name: fadein;
  animation-duration: 3s; }
