body {
  font-family: "Roboto", sans-serif; }

.title-bar {
  background-color: #F8F8F8; }
  .title-bar h3 {
    color: #24292E; }
  .title-bar .menu a {
    color: #24292E;
    font-weight: bold; }
  .title-bar .thumbnail {
    border: none; }

main .callout {
  border: none;
  color: #24292E; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeinout {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.frame {
  animation-name: fadein;
  animation-duration: 3s; }

@keyframes animated-list {
  100% {
    bottom: 100px; } }

.word1 {
  width: 800px;
  position: relative;
  animation-name: fadeinout;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out; }

.word2 {
  width: 800px;
  position: relative;
  animation-name: fadeinout;
  animation-duration: 2s;
  animation-delay: 5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out; }

.word3 {
  width: 800px;
  position: relative;
  animation-name: fadeinout;
  animation-duration: 2s;
  animation-delay: 7s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out; }

.word4 {
  width: 800px;
  position: relative;
  animation-name: fadein;
  animation-duration: 2s;
  animation-delay: 9s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out; }

li {
  padding: 20px; }
