body {
  font-family: "Roboto", sans-serif; }

@media screen and (min-width: 768px) {
  .menu {
    padding-left: 350px; }
  .thumbnail {
    width: 70px; }
  .animated-list {
    padding-left: 100px; } }

@media screen and (max-width: 768px) and (min-width: 620px) {
  .menu {
    padding-left: 150px; }
  .thumbnail {
    width: 60px; }
  .animated-list {
    padding-left: 50px; } }

@media screen and (max-width: 620px) {
  .menu {
    padding-left: 0px; }
  .thumbnail {
    width: 50px; }
  .animated-list {
    padding-left: 30px; } }

.title-bar {
  background-color: #F8F8F8; }
  .title-bar h3 {
    color: #24292E; }
  .title-bar .menu a {
    color: #24292E;
    font-weight: bold; }
  .title-bar .menu li {
    padding-right: 20px; }
  .title-bar .thumbnail {
    border: 2px solid #F8F8F8;
    box-shadow: none;
    margin-left: 20px; }

main {
  background-color: #F8F8F8; }
  main .callout {
    border: none;
    color: #24292E;
    background-color: #F8F8F8; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeinout {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.frame {
  animation-name: fadein;
  animation-duration: 3s; }

@keyframes animated-list {
  100% {
    bottom: 100px; } }

.word1 {
  width: 800px;
  position: relative;
  animation-name: fadeinout;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out; }

.word2 {
  width: 800px;
  position: relative;
  animation-name: fadeinout;
  animation-duration: 2s;
  animation-delay: 5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out; }

.word3 {
  width: 800px;
  position: relative;
  animation-name: fadeinout;
  animation-duration: 2s;
  animation-delay: 7s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out; }

.word4 {
  width: 800px;
  position: relative;
  animation-name: fadein;
  animation-duration: 2s;
  animation-delay: 9s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  color: #1D9EA0; }
